/* seachr css */ 
#search {
    float: right;
    margin-top: px;
    width: 250px; 
    
}

.search { 
  margin-top: 4px;
    padding: 5px 0;
    width: 230px;
    height: 30px;
    position: relative;
    left: 10px;
    float: left;
    line-height: 22px; 
   color: #fff; 
   
} 
.search button{ 
   background-color: #32CD32;   
   font-size: 15px; 
   
   
  
}

    .search input {
        position: absolute;
        width: 0px;
        float: Left;
        margin-left: 210px;
        -webkit-transition: all 0.7s ease-in-out;
        -moz-transition: all 0.7s ease-in-out;
        -o-transition: all 0.7s ease-in-out;
        transition: all 0.7s ease-in-out;
        height: 30px;
        line-height: 18px;
        padding: 0 2px 0 2px;
        border-radius:1px;  
         
    }

        .search:hover input, .search input:focus {
            width: 200px;
            margin-left: 0px;
        }

.btnsearch {
    height: 30px;
    position: absolute;
    right: 0;
    top: 5px;
    border: none;
    
}



.navbar, .dropdown-menu{
background: #32CD32;
border: none;

}

.nav>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .dropdown-menu>li>a, .dropdown-menu>li{
  border-bottom: 3px solid transparent;
}
.nav>li>a:focus, .nav>li>a:hover,.nav .open>a, .nav .open>a:focus, .nav .open>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  border-bottom: 3px solid transparent;
  background: none;
}
.navbar a, .dropdown-menu>li>a, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover, .navbar-toggle{
 color: #fff;
}
.dropdown-menu{
      -webkit-box-shadow: none;
    box-shadow:none;
}

.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #fff 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #fff 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #fff 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #fff 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #fff 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #fff 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #fff 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #fff 3px solid;
}

.navbar-toggle .icon-bar{
    color: #fff;
    background: #fff;
} /*  fim do menu */


/* css banner de imagens   */

.carousel{ 
margin-top: 4%;
 }

#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #006400;
}
.nav-justified > li > a
{
    border-radius: 0px;
} 
.glyphicon{ 

 } 
 
.nav-pills>li[data-slide-to="0"].active a { background-color: #006400; }
.nav-pills>li[data-slide-to="1"].active a { background-color: #006400; }
.nav-pills>li[data-slide-to="2"].active a { background-color: #006400; }
.nav-pills>li[data-slide-to="3"].active a { background-color: #006400; }


/* inicio footer */   



.full {
    width: 100%;    
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #32CD32;
  height: auto;
  padding-bottom: 30px; 
  width: 100%; 
  
  
  border-top: 1px solid #FFFFFF;
} 
.rodape{ 
width: 100%; 
height: auto; 

  }
.footer p {
  margin: 0;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #FFFFFF;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #FFF
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%; 
    background-color: #006400;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
} 


.social li {
  background: none repeat scroll 0 0 #006400;
  border: 2px solid #006400;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #000;
  background: #000;
}
.social li a i {
  font-size: 16px;
  margin: 8 3 0 5px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  background: #006400;
  color: #FFFFFF;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 10px;
}
.payments {
  font-size: 3em; 

} /* fim do footer */ 



/* css da vitrine de produtos*/  

.product_view .modal-dialog{max-width: 800px; width: 100%;}
        .pre-cost{text-decoration: line-through; color: #a5a5a5;}
        .space-ten{padding: 10px 0;}   

.btnprodutos{ 
color: #fff; 
background: #fff;  
border: none; 
font-size: 20px;


 } 

.vitrine{ 
width: 100%; 
height: 60%; 

 } 

 .linha{ 
width: 100%; 
height: 100%; 

 } 

 .produtospromo{ 
width: 100%; 
height: 100%; 

 } 

 .linhapromo{ 
width: 100%; 
height: 100%; 

 }

.hr {
      color: #006400;
      background-color: #006400;
      height: 5px;
    } 

    

/* painel de login */ 


  
/*Menu multinível*/

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
} 

/* Mostrar esconder manual do usuário */ 
/* jQuery Drawer ============================== */



.drawer {
  width: 100%;
  border-top: 1px solid #E0E0E0;
  border-radius: 3px;
}

.drawer-item {
  border-bottom: 1px solid #E0E0E0;
}
  .drawer-item-active .drawer-header {
    background: #888;
    transition: 0.25s;
    color: #fff;
  }
  .drawer-item-active .drawer-header-icon {
    color: #fff;
  }

.drawer-header {
  background: #f2f2f2;
  color: #212121;
  padding: 12px;
  cursor: pointer;
  border-right: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  min-height: 45px;
  transition: 0.25s;
}
  .drawer-header h1 {
    float: left;
    font-size: 18px;
    margin: 0;
  }

.drawer-content {
  border-left: 1px solid #E0E0E0;
  border-right: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
  display: none;
  padding: 12px;
  color: #212121;
  background: #FFF;
  font-size: 13px;
  line-height: 1.45;
}
  .drawer-content p {
    margin: 0;
  }

.drawer-header-icon {
  float: right;
  margin-top: 3px;
  color: #888;
}
  .drawer-header-icon.drawer-header-icon-active {
    transform: rotate(180deg);
  }

/*  maps */ 
