.coluna-acao{ 

    width: 30px;
} 

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}  

 ::selection { background-color: #E13300; color: white; }
   ::-moz-selection { background-color: #E13300; color: white; }

  

   a {
      color: #003399;
      background-color: transparent;
      font-weight: normal; 
    
   }

   

   code {
      
      
      background-color: #f9f9f9;
      border: 1px solid #D0D0D0;
      color: #002166;
      display: block;
      margin: 14px 0 14px 0;
      padding: 12px 10px 12px 10px;
   }

   
   .caption{ 
       width: 200%;
   }
  p{ 
    width: 100%; 
    height: 100%; 
  } 

 